<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h4>CONTACT</h4>

        <div class="social-links">
          {% for contact in site.footer.contact %}
          <div class="social-link contact-links">

            {% assign contact_icon_path = "/assets/img/icons/" | append: contact.name | downcase | append: ".png" | absolute_url %}
            <img src="{{ contact_icon_path }}" alt="{{ contact.name | downcase }}" />

            <a href="{{ contact.link }}" id="{{ contact.name | downcase }}-link"
              {% if contact.name | downcase = "wechat" %} target="_self" {% endif %}>
              {% if contact.value and contact.value != "" and contact.value != nil %}
              {{ contact.value }}
              {% else %}
              {{ contact.name }}
              {% endif %}
            </a>
          </div>

          {% endfor %}
        </div>
      </div>

      <div class="footer-col footer-col-2">
        <h4>FOLLOW</h4>

        <div class="social-links follow-links">
          {% for follow in site.footer.follow %}
          <div class="social-link">

            {% assign follow_icon_path = "/assets/img/icons/" | append: follow.name | downcase | append: ".png" | absolute_url %}
            <img src="{{ follow_icon_path }}" alt="{{ follow.name | downcase }}" />
            <a href="{{ follow.link }}">
              {% if follow.value and follow.value != "" and follow.value != nil %}
              {{ follow.value }}
              {% else %}
              {{ follow.name }}
              {% endif %}
            </a>
          </div>

          {% endfor %}
        </div>
      </div>

      {% if site.footer.show_powered_by == true %}
      <div class="footer-col footer-col-3 powered-by">
        <p>
          powered by <a href="https://github.com/eliottvincent/bay">Bay</a> | {{ 'now' | date: "%Y" }}
        </p>
      </div>
      {% endif %}
    </div>

    {% if site.analytics.busunzi.enable %}
    <p class="footer-col" id="busuanzi_container_site_pv" style="display:none">
      本站总访问量 <span id="busuanzi_value_site_pv"></span> 次，本站访客数 <span id="busuanzi_value_site_uv"></span> 人次
      {% if page.layout == "page" %}
      ，本文总阅读量 <span id="busuanzi_value_page_pv"></span> 次
      {% endif %}
    </p>

    <script>
      var id = setInterval(fixCount, 100)
      var site_pv = parseInt('{{ site.analytics.busunzi.site_pv }}')
      var site_uv = parseInt('{{ site.analytics.busunzi.site_uv }}')
      var page_pv = parseInt('{{ site.analytics.busunzi.page_pv }}')
      function fixCount() {
        if ($("#busuanzi_container_site_pv").css("display") != "none") {
          clearInterval(id);
          $("#busuanzi_value_site_pv").html(parseInt($("#busuanzi_value_site_pv").html()) + site_pv)
          $("#busuanzi_value_site_uv").html(parseInt($("#busuanzi_value_site_uv").html()) + site_uv)
          $("#busuanzi_value_page_pv").html(parseInt($("#busuanzi_value_page_pv").html()) + page_pv)
        }
      }
    </script>
    {% endif %}

  </div>
</footer>

{% include back-to-top.html %}

{% include wechat-widget.html %}